*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.parent {
    width: 1761px;
}
.up {
    width: 1761px;
    height: 2200px;
    background-image: url("assets/rockers.png");
    background-color: black;
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    font-family: 'Anton', sans-serif;
}
.buttons {
    margin-left: 750px;
}
.header {
    padding:0px;
    display: flex;
}
.header img {
    height: 8em;
    width: 12em;
    padding: 30px;
}
.buttons button {
    margin-left: 40px;
    border-radius: 0 0 15px 15px;
    width: 100px;
    background-color: transparent;
    color: white;
    height: 100px;
    font-size: 20px;
    font-family: 'Anton', sans-serif;    font-weight: bold;
}
.buttons button:hover {
    transition: all 0.3s ease ;
    background: orange;
    color: black;
}
.rockandroll {
    padding-left: 520px;
    padding-top: 150px;
}
.rockandroll img {
    width: 800px;
    height: 300px;
}
.underrock {
    display: flex;
}
.concert {
    padding-left: 700px;
    padding-top: 50px;
    font-size: 50px;
    color: white;
    transform: rotate(-10deg);
    font-family: 'Anton', sans-serif;    font-weight: bold;
}
.concert p {
    transform:skew(-20deg);
}
.ticket {
    padding-left: 100px;
    padding-top: 10px;
    display: flex;
    font-family: 'Anton', sans-serif;
}
.ticket button{
    border-radius: 100px 100px 100px 100px;
    background: linear-gradient(orange,red);
    width: 200px;
    height: 200px;
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    border: 4px ridge black;
}
.ticket button:hover {
    transition: all 0.3s ease ;
    background: orange;
    color: black;
}
.book {
    color: black;
    background-color: orange;
    margin: 20px;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}
.upper {
    font-family: 'Anton', sans-serif;
}
.uppper {
    font-family: 'Anton', sans-serif;
}
.handsup {
    padding-left: 780px;
}
.handsup img {
    width: 350px;
    height: 300px;
}
.upper {
    padding-left: 49px;
}
.uppper {
    padding-left: 35px;
}
.lorim {
    color: white;
    font-family: 'Anton', sans-serif;    font-size: 30px;
    padding: 100px;
    text-align: center;
    margin-top: 300px;
}
.doorsopen {
    color: white;
    display: flex;
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    padding-left: 180px;
}
.orange {
    padding-left: 130px;
    color: orange;
    padding-right: 20px;
    font-family: 'Anton', sans-serif;

}
.bord {
    border-right:6px solid white ;
    padding-right: 20px;
    font-family: 'Anton', sans-serif;
}
.orangee {
    padding-left: 20px;
    color: orange;
    font-family: 'Anton', sans-serif;
}
.xyi {
    padding-left: 20px;
    font-family: 'Anton', sans-serif;
}
.orannge {
    color: orange;
    font-size: 70px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    padding-top: 0px;

}
.triygol p {
    text-align: center;
    word-spacing: 50px;
    color: white;
    font-weight: bold;
    font-family: 'Anton', sans-serif;}
.cyming {
    text-align: center;
    color: orange;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    font-size: 35px;
    padding-top: 30px;

}
.line  {
    margin-top: 150px;

    border: 0;
    width: 450px;
    border-top: 2mm double orange;
    margin-left: 660px;
}
.line2  {
    margin-top: 10px;

    border: 0;
    width: 100px;
    border-top: 2mm double orange;
    margin-left: 830px;
}
.cyming h2 {
    font-family: 'Anton', sans-serif;
}
.lorim p {
    font-family: 'Anton', sans-serif;
}
.middle{
    width: 1761px;
    height: 1000px;
    background-color: black;

}
.stars {
    width: 1761px;
    height: 900px;
    padding-left: 200px;
    padding-right: 700px;
    padding-top: 300px;
    font-size: 30px;
    word-spacing: 10px;
    background-image: url("assets/rockers1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.stars h1 {

    font-family: 'Anton', sans-serif;
    color: orange;
}
.stars p {
    font-family: 'Anton', sans-serif;
    color: white;
}
.stars hr {
    border-top: 6px double orange;
    width: 200px;
    margin-bottom: 30px;
}

.down {
    background-color: black;
    width: 1761px;
    height: 900px;
}
.boxes {
    display: flex;
}
.box1 h2 {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 40px ;
    text-align: center;
}
.box1 h1 {
    color: orange;
    padding-top: 20px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
}
.box1 p{
    color: white;
    padding-top: 30px;
    text-align: center;
    font-family: 'Anton', sans-serif;
}
.box1 {
    width: 300px;
    height: 410px;
    margin-left: 250px;
    text-align: center;
    padding-top: 50px;
    border: double thick orange;
    background: linear-gradient(black, #212121);

}
.buttons1 button {
    background-color: transparent;
    font-family: 'Anton', sans-serif;
    width: 200px;
    height: 80px;
    border-radius: 30px 30px 30px 30px;
    font-size: 30px;
    color: white;
    border: 0;


}
.buttons1 button:hover {
    transition: all 0.3s ease;
    background: orange;
    color: black;
}
.box2{
    width: 300px;
    height: 410px;
    margin-left: 200px;
    text-align: center;
    padding-top: 50px;
    border: double thick orange;
    background: linear-gradient(black, #212121);
}
.box2 h2 {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 40px ;
    text-align: center;
}
.box2 h1 {
    color: orange;
    padding-top: 20px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
}
.box2 p {
    color: white;
    padding-top: 30px;
    text-align: center;
    font-family: 'Anton', sans-serif;
}
.box2 button {
    background-color: transparent;
    font-family: 'Anton', sans-serif;
    width: 200px;
    height: 80px;
    border-radius: 30px 30px 30px 30px;
    font-size: 30px;
    color: white;
    border: 0;
}
.box2 button:hover{
    transition: all 0.3s ease;
    background: orange;
    color: black;
}
.box3{
    width: 300px;
    height: 410px;
    margin-left: 200px;
    text-align: center;
    padding-top: 50px;
    border: double thick orange;
    background: linear-gradient(black, #212121);
}
.box3 h2 {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 40px ;
    text-align: center;
}
.box3 h1 {
    color: orange;
    padding-top: 20px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
}
.box3 p {
    color: white;
    padding-top: 30px;
    text-align: center;
    font-family: 'Anton', sans-serif;
}
.box3 button {
    background-color: transparent;
    font-family: 'Anton', sans-serif;
    width: 200px;
    height: 80px;
    border-radius: 30px 30px 30px 30px;
    font-size: 30px;
    color: white;
    border: 0;
}
.box3 button:hover{
    transition: all 0.3s ease;
    background: orange;
    color: black;
}
.bottom {
    width: 1650px;
    height: 300px;
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px ;
    background-color: #1a1a1a;

}
.bottom img {
    padding: 30px;
}
.home {
    text-decoration: none;
    color: white;
    padding-top: 50px;
    font-family: 'Anton', sans-serif;
    margin-left: 800px;
    height: 80px;

}
.butons {
    display: flex;
    font-size: 20px;
    letter-spacing: 5px;
}
.tickets {
    text-decoration: none;
    color: white;
    padding-top: 50px;
    font-family: 'Anton', sans-serif;
    margin-left: 40px;
    height: 80px;
}
.about {
    text-decoration: none;
    color: white;
    padding-top: 50px;
    font-family: 'Anton', sans-serif;
    margin-left: 40px;
    height: 80px;
}
.starss {
    text-decoration: none;
    color: white;
    padding-top: 50px;
    font-family: 'Anton', sans-serif;
    margin-left: 40px;
    height: 80px;
}
.contactus {
    text-decoration: none;
    color: white;
    padding-top: 50px;
    font-family: 'Anton', sans-serif;
    margin-left: 40px;
    height: 80px;
}
.home:hover {
    transition: all 0.3s ease;
    color: orange;
}
.about:hover {
    transition: all 0.3s ease;
    color: orange;
}
.starss:hover {
    transition: all 0.3s ease;
    color: orange;
}
.tickets:hover {
    transition: all 0.3s ease;
    color: orange;
}
.contactus:hover {
    transition: all 0.3s ease;
    color: orange;
}
.call {
    color: white;
    font-family: 'Anton', sans-serif;
    padding-left: 30px;
    margin-top: 80px;
    position: absolute;
}
.contacts {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    position: absolute;
}
.contacts h1 {
    color: white;
    margin-top: 120px;
    width: 200px;

}
.contacts p{
    color: white;
    padding-top: 10px;
    padding-left: 50px;
    word-spacing: 10px;
    letter-spacing: 5px;
    font-size: 10px;
    margin-top: 120px;
    width: 900px;
}
.twitter {
    width: 100px;
    height: 100px;
    padding: 0;
    margin-left: 350px;
    margin-top: 80px;

}




